/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*------ typography ------*/
/* line 4, ../sass/components/_typography.scss */
body, html {
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  line-height: initial;
  color: #080808; }

/* line 11, ../sass/components/_typography.scss */
body {
  background-color: #fbfbfb;
  color: #030303; }

/* line 17, ../sass/components/_typography.scss */
b,
strong {
  font-weight: bold; }

/* line 26, ../sass/components/_typography.scss */
em,
address,
cite,
dfn,
i,
var {
  font-style: italic; }

/* line 33, ../sass/components/_typography.scss */
code,
pre,
samp,
kbd {
  font-family: Courier, monospace;
  line-height: normal; }

/* line 38, ../sass/components/_typography.scss */
h1 {
  font-size: 3.375em; }

/* line 42, ../sass/components/_typography.scss */
h2 {
  font-size: 3em; }

/* line 46, ../sass/components/_typography.scss */
h3 {
  font-size: 2.25em; }

/* line 50, ../sass/components/_typography.scss */
h4 {
  font-size: 2em; }

/* line 54, ../sass/components/_typography.scss */
h5 {
  font-size: 1.5em; }

/* line 58, ../sass/components/_typography.scss */
h6 {
  font-size: 1.333em; }

/*------ extra type sizes - part of modular type scale------*/
/* line 63, ../sass/components/_typography.scss */
.huge {
  font-size: 4.5em; }

/* line 67, ../sass/components/_typography.scss */
.default-font {
  font-size: 1em; }

/* line 71, ../sass/components/_typography.scss */
.larger {
  font-size: 0.899em; }

/* line 75, ../sass/components/_typography.scss */
.large {
  font-size: 0.667em; }

/* line 79, ../sass/components/_typography.scss */
.small {
  font-size: 0.593em; }

/* line 83, ../sass/components/_typography.scss */
.smallest {
  font-size: 0.444em; }

/* line 3, ../sass/components/_general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

/* line 11, ../sass/components/_general.scss */
#title {
  margin-left: -9999px;
  visibility: hidden;
  display: none; }

/* line 17, ../sass/components/_general.scss */
.quizHeader {
  margin-left: -9999px;
  visibility: hidden;
  display: none !important; }

/* line 23, ../sass/components/_general.scss */
hr {
  width: 90%;
  margin: 0 auto;
  border-color: #f4f4f4; }

/* line 29, ../sass/components/_general.scss */
#progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 10%;
  height: 10px;
  background: #5bf165;
  z-index: 9999; }

/* line 1, ../sass/components/_intro.scss */
#intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #282828;
  display: block; }

/* line 9, ../sass/components/_intro.scss */
#logo {
  position: fixed;
  width: 90%;
  height: 40%;
  top: 30%;
  left: 5%;
  background: url(../img/logo.svg) no-repeat center center;
  background-size: 50% 100%;
  background-size: contain;
  display: block; }

/* line 21, ../sass/components/_intro.scss */
#continue-here {
  position: absolute;
  right: 1.5em;
  bottom: 1em;
  color: #f4f4f4; }

/* line 3, ../sass/components/_letter-space.scss */
#letter-space {
  width: 65%;
  height: 100%;
  float: left;
  position: fixed; }
  /* line 11, ../sass/components/_letter-space.scss */
  #letter-space .letters {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain; }

/* line 19, ../sass/components/_letter-space.scss */
.question {
  width: 100%;
  height: 100%;
  background: url(../img/back.svg) repeat-x center;
  background-size: contain;
  background-color: #f4f4f4; }

/* line 27, ../sass/components/_letter-space.scss */
.nextQuestion.checkAnswer {
  position: absolute;
  right: 2%;
  bottom: 2%;
  font-size: 2rem;
  text-decoration: none;
  color: #282828;
  background: #f4f4f4; }

/* line 37, ../sass/components/_letter-space.scss */
#flexcontainer {
  width: 65%;
  height: 100%;
  float: left;
  background: url(../img/back.svg) repeat-x center;
  background-size: contain;
  background-color: #f4f4f4;
  position: fixed; }
  /* line 45, ../sass/components/_letter-space.scss */
  #flexcontainer .letters {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain; }

/* line 56, ../sass/components/_letter-space.scss */
#letter1 {
  background: url(../img/letters/letter-1.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter2 {
  background: url(../img/letters/letter-2.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter3 {
  background: url(../img/letters/letter-3.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter4 {
  background: url(../img/letters/letter-4.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter5 {
  background: url(../img/letters/letter-5.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter6 {
  background: url(../img/letters/letter-6.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter7 {
  background: url(../img/letters/letter-7.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter8 {
  background: url(../img/letters/letter-8.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter9 {
  background: url(../img/letters/letter-9.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter10 {
  background: url(../img/letters/letter-10.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter11 {
  background: url(../img/letters/letter-11.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter12 {
  background: url(../img/letters/letter-12.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter13 {
  background: url(../img/letters/letter-13.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter14 {
  background: url(../img/letters/letter-14.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter15 {
  background: url(../img/letters/letter-15.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter16 {
  background: url(../img/letters/letter-16.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter17 {
  background: url(../img/letters/letter-17.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter18 {
  background: url(../img/letters/letter-18.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter19 {
  background: url(../img/letters/letter-19.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter20 {
  background: url(../img/letters/letter-20.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter21 {
  background: url(../img/letters/letter-21.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter22 {
  background: url(../img/letters/letter-22.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter23 {
  background: url(../img/letters/letter-23.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter24 {
  background: url(../img/letters/letter-24.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter25 {
  background: url(../img/letters/letter-25.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter26 {
  background: url(../img/letters/letter-26.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter27 {
  background: url(../img/letters/letter-27.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter28 {
  background: url(../img/letters/letter-28.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter29 {
  background: url(../img/letters/letter-29.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter30 {
  background: url(../img/letters/letter-30.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter31 {
  background: url(../img/letters/letter-31.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter32 {
  background: url(../img/letters/letter-32.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter33 {
  background: url(../img/letters/letter-33.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter34 {
  background: url(../img/letters/letter-34.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter35 {
  background: url(../img/letters/letter-35.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter36 {
  background: url(../img/letters/letter-36.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter37 {
  background: url(../img/letters/letter-37.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter38 {
  background: url(../img/letters/letter-38.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter39 {
  background: url(../img/letters/letter-39.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter40 {
  background: url(../img/letters/letter-40.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter41 {
  background: url(../img/letters/letter-41.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter42 {
  background: url(../img/letters/letter-42.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter43 {
  background: url(../img/letters/letter-43.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter44 {
  background: url(../img/letters/letter-44.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter45 {
  background: url(../img/letters/letter-45.svg) no-repeat center center; }

/* line 56, ../sass/components/_letter-space.scss */
#letter46 {
  background: url(../img/letters/letter-46.svg) no-repeat center center; }

/* line 4, ../sass/components/_nav.scss */
nav {
  right: 0;
  width: 35%;
  height: 100%;
  background: #282828;
  float: right;
  position: fixed;
  overflow-y: scroll;
  text-align: center; }
  /* line 13, ../sass/components/_nav.scss */
  nav #flexcontainer2 {
    width: 80%;
    margin: 0 auto;
    color: #f4f4f4; }
  /* line 18, ../sass/components/_nav.scss */
  nav h1 {
    color: #f4f4f4;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.25em;
    text-align: center;
    padding: .5em;
    margin: .5em 0; }
  /* line 26, ../sass/components/_nav.scss */
  nav ul {
    padding: 2em 0;
    width: 90%;
    margin: 0 auto;
    text-align: center; }
  /* line 32, ../sass/components/_nav.scss */
  nav #next-button {
    right: 5%;
    color: #f4f4f4;
    border-bottom: 1px #00ccff solid;
    cursor: pointer; }
  /* line 38, ../sass/components/_nav.scss */
  nav input[type=radio] {
    display: none; }
  /* line 41, ../sass/components/_nav.scss */
  nav input[type=radio] + label {
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    color: #f4f4f4;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  /* line 52, ../sass/components/_nav.scss */
  nav input[type=radio]:checked + label {
    display: inline-block;
    color: #f4f4f4;
    border-bottom: 1px #00ccff solid; }
  /* line 57, ../sass/components/_nav.scss */
  nav input[type=radio] + label:hover {
    color: #dbdbdb; }
  /* line 60, ../sass/components/_nav.scss */
  nav button {
    border: none;
    background: none;
    border-bottom: 1px #00ccff solid;
    color: white;
    font-size: 1rem; }

@media only screen and (max-width: 480px) {
  /* 480 =================================================== */
  /* line 5, ../sass/components/_media-queries.scss */
  hr {
    display: none; }

  /* line 8, ../sass/components/_media-queries.scss */
  h1 {
    display: none; }

  /* line 11, ../sass/components/_media-queries.scss */
  #mobile-logo {
    display: block;
    position: fixed;
    top: 10%;
    width: 10%;
    height: 20%;
    left: 0;
    background: url(../img/mobile_logo.svg) no-repeat center center;
    background-size: contain;
    z-index: 9999; }

  /* line 22, ../sass/components/_media-queries.scss */
  #next-button {
    position: fixed;
    bottom: 62%; }

  /* line 26, ../sass/components/_media-queries.scss */
  #letter-space {
    bottom: 0;
    width: 100%;
    height: 60%; }

  /* line 31, ../sass/components/_media-queries.scss */
  #flexcontainer {
    bottom: 0;
    width: 100%;
    height: 60%; }

  /* line 36, ../sass/components/_media-queries.scss */
  nav {
    top: 0;
    width: 100%;
    height: 40%; }
    /* line 40, ../sass/components/_media-queries.scss */
    nav ul {
      width: 90%;
      padding: 1em 0; }
    /* line 44, ../sass/components/_media-queries.scss */
    nav input[type=radio] + label {
      margin: 0.5rem 0; } }
@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
  /* line 52, ../sass/components/_media-queries.scss */
  hr {
    display: none; }

  /* line 55, ../sass/components/_media-queries.scss */
  h1 {
    display: none; }

  /* line 58, ../sass/components/_media-queries.scss */
  #mobile-logo {
    display: block;
    position: fixed;
    top: 10%;
    width: 10%;
    height: 20%;
    left: 0;
    background: url(../img/mobile_logo.svg) no-repeat center center;
    background-size: contain;
    z-index: 9999; }

  /* line 69, ../sass/components/_media-queries.scss */
  #next-button {
    position: fixed;
    bottom: 62%; }

  /* line 73, ../sass/components/_media-queries.scss */
  #letter-space {
    bottom: 0;
    width: 100%;
    height: 60%; }

  /* line 78, ../sass/components/_media-queries.scss */
  #flexcontainer {
    bottom: 0;
    width: 100%;
    height: 60%; }

  /* line 83, ../sass/components/_media-queries.scss */
  nav {
    top: 0;
    width: 100%;
    height: 40%; }
    /* line 87, ../sass/components/_media-queries.scss */
    nav ul {
      width: 90%;
      padding: 1em 0; }
    /* line 91, ../sass/components/_media-queries.scss */
    nav input[type=radio] + label {
      margin: 0.5rem 0; } }
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
  /* line 99, ../sass/components/_media-queries.scss */
  #next-button {
    position: fixed;
    bottom: 62%; }

  /* line 103, ../sass/components/_media-queries.scss */
  #letter-space {
    bottom: 0;
    width: 100%;
    height: 60%; }

  /* line 108, ../sass/components/_media-queries.scss */
  #flexcontainer {
    bottom: 0;
    width: 100%;
    height: 60%; }

  /* line 113, ../sass/components/_media-queries.scss */
  nav {
    top: 0;
    width: 100%;
    height: 40%; }
    /* line 117, ../sass/components/_media-queries.scss */
    nav ul {
      width: 90%;
      padding: 2em 0; } }
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
  /* line 126, ../sass/components/_media-queries.scss */
  hr {
    display: inherit; }

  /* line 129, ../sass/components/_media-queries.scss */
  h1 {
    display: block; }

  /* line 132, ../sass/components/_media-queries.scss */
  #mobile-logo {
    display: none; }

  /* line 135, ../sass/components/_media-queries.scss */
  #next-button {
    position: absolute;
    bottom: auto; }

  /* line 139, ../sass/components/_media-queries.scss */
  #letter-space {
    width: 65%;
    height: 100%;
    left: 0; }

  /* line 144, ../sass/components/_media-queries.scss */
  #flexcontainer {
    width: 65%;
    height: 100%;
    left: 0; }

  /* line 149, ../sass/components/_media-queries.scss */
  nav {
    right: 0;
    width: 35%;
    height: 100%; }
    /* line 153, ../sass/components/_media-queries.scss */
    nav h1 {
      font-size: 1.5em; }
    /* line 156, ../sass/components/_media-queries.scss */
    nav ul {
      width: 225px;
      font-size: 0.667em; } }
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
  /* line 166, ../sass/components/_media-queries.scss */
  nav h1 {
    font-size: 2.25em; }
  /* line 169, ../sass/components/_media-queries.scss */
  nav ul {
    width: 285px;
    font-size: 0.667em; } }
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  /* line 179, ../sass/components/_media-queries.scss */
  nav ul {
    width: 80%;
    font-size: 0.889em; } }
