/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*------ typography ------*/
body, html {
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  line-height: initial;
  color: #080808; }

body {
  background-color: #fbfbfb;
  color: #030303; }

b,
strong {
  font-weight: bold; }

em,
address,
cite,
dfn,
i,
var {
  font-style: italic; }

code,
pre,
samp,
kbd {
  font-family: Courier, monospace;
  line-height: normal; }

h1 {
  font-size: 3.375em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2.25em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.333em; }

/*------ extra type sizes - part of modular type scale------*/
.huge {
  font-size: 4.5em; }

.default-font {
  font-size: 1em; }

.larger {
  font-size: 0.899em; }

.large {
  font-size: 0.667em; }

.small {
  font-size: 0.593em; }

.smallest {
  font-size: 0.444em; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

#title {
  display: none; }

hr {
  width: 90%;
  margin: 0 auto;
  border-color: #f4f4f4; }

#progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 10%;
  height: 10px;
  background: #5bf165;
  z-index: 9999; }

#intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #282828;
  display: block; }

#logo {
  position: fixed;
  width: 90%;
  height: 40%;
  top: 30%;
  left: 5%;
  background: url(../img/logo.svg) no-repeat center center;
  background-size: 50% 100%;
  background-size: contain;
  display: block; }

#continue-here {
  position: absolute;
  right: 1.5em;
  bottom: 1em;
  color: #f4f4f4; }

#letter-space {
  width: 65%;
  height: 100%;
  float: left;
  background: url(../img/back.svg) repeat-x center;
  background-size: contain;
  background-color: #f4f4f4;
  position: fixed; }
  #letter-space .letters {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain; }

#flexcontainer {
  width: 65%;
  height: 100%;
  float: left;
  background: url(../img/back.svg) repeat-x center;
  background-size: contain;
  background-color: #f4f4f4;
  position: fixed; }
  #flexcontainer .letters {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain; }

#letter1 {
  background: url(../img/letters/letter-1.svg) no-repeat center center; }

#letter2 {
  background: url(../img/letters/letter-2.svg) no-repeat center center; }

#letter3 {
  background: url(../img/letters/letter-3.svg) no-repeat center center; }

#letter4 {
  background: url(../img/letters/letter-4.svg) no-repeat center center; }

#letter5 {
  background: url(../img/letters/letter-5.svg) no-repeat center center; }

#letter6 {
  background: url(../img/letters/letter-6.svg) no-repeat center center; }

#letter7 {
  background: url(../img/letters/letter-7.svg) no-repeat center center; }

#letter8 {
  background: url(../img/letters/letter-8.svg) no-repeat center center; }

#letter9 {
  background: url(../img/letters/letter-9.svg) no-repeat center center; }

#letter10 {
  background: url(../img/letters/letter-10.svg) no-repeat center center; }

#letter11 {
  background: url(../img/letters/letter-11.svg) no-repeat center center; }

#letter12 {
  background: url(../img/letters/letter-12.svg) no-repeat center center; }

#letter13 {
  background: url(../img/letters/letter-13.svg) no-repeat center center; }

#letter14 {
  background: url(../img/letters/letter-14.svg) no-repeat center center; }

#letter15 {
  background: url(../img/letters/letter-15.svg) no-repeat center center; }

#letter16 {
  background: url(../img/letters/letter-16.svg) no-repeat center center; }

#letter17 {
  background: url(../img/letters/letter-17.svg) no-repeat center center; }

#letter18 {
  background: url(../img/letters/letter-18.svg) no-repeat center center; }

#letter19 {
  background: url(../img/letters/letter-19.svg) no-repeat center center; }

#letter20 {
  background: url(../img/letters/letter-20.svg) no-repeat center center; }

#letter21 {
  background: url(../img/letters/letter-21.svg) no-repeat center center; }

#letter22 {
  background: url(../img/letters/letter-22.svg) no-repeat center center; }

#letter23 {
  background: url(../img/letters/letter-23.svg) no-repeat center center; }

#letter24 {
  background: url(../img/letters/letter-24.svg) no-repeat center center; }

#letter25 {
  background: url(../img/letters/letter-25.svg) no-repeat center center; }

#letter26 {
  background: url(../img/letters/letter-26.svg) no-repeat center center; }

#letter27 {
  background: url(../img/letters/letter-27.svg) no-repeat center center; }

#letter28 {
  background: url(../img/letters/letter-28.svg) no-repeat center center; }

#letter29 {
  background: url(../img/letters/letter-29.svg) no-repeat center center; }

#letter30 {
  background: url(../img/letters/letter-30.svg) no-repeat center center; }

#letter31 {
  background: url(../img/letters/letter-31.svg) no-repeat center center; }

#letter32 {
  background: url(../img/letters/letter-32.svg) no-repeat center center; }

#letter33 {
  background: url(../img/letters/letter-33.svg) no-repeat center center; }

#letter34 {
  background: url(../img/letters/letter-34.svg) no-repeat center center; }

#letter35 {
  background: url(../img/letters/letter-35.svg) no-repeat center center; }

#letter36 {
  background: url(../img/letters/letter-36.svg) no-repeat center center; }

#letter37 {
  background: url(../img/letters/letter-37.svg) no-repeat center center; }

#letter38 {
  background: url(../img/letters/letter-38.svg) no-repeat center center; }

#letter39 {
  background: url(../img/letters/letter-39.svg) no-repeat center center; }

#letter40 {
  background: url(../img/letters/letter-40.svg) no-repeat center center; }

#letter41 {
  background: url(../img/letters/letter-41.svg) no-repeat center center; }

#letter42 {
  background: url(../img/letters/letter-42.svg) no-repeat center center; }

#letter43 {
  background: url(../img/letters/letter-43.svg) no-repeat center center; }

#letter44 {
  background: url(../img/letters/letter-44.svg) no-repeat center center; }

#letter45 {
  background: url(../img/letters/letter-45.svg) no-repeat center center; }

#letter46 {
  background: url(../img/letters/letter-46.svg) no-repeat center center; }

nav {
  right: 0;
  width: 35%;
  height: 100%;
  background: #282828;
  float: right;
  position: fixed; }

nav h1 {
  color: #f4f4f4;
  font-family: 'Libre Baskerville', serif;
  font-size: 2.25em;
  text-align: center;
  padding: .5em;
  margin: .5em 0; }

nav {
  overflow-y: scroll; }
  nav ul {
    padding: 2em 0;
    width: 90%;
    margin: 0 auto; }
    nav ul li a {
      text-decoration: none;
      border-bottom: 1px #00ccff solid;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
    nav ul li a:hover {
      opacity: .85; }
    nav ul li a:active {
      border-bottom: 1px #ff6950 solid; }
  nav li {
    width: 30%;
    float: left;
    margin-right: 5%; }
    nav li a {
      line-height: 3em;
      color: #f4f4f4; }
  nav li:nth-child(3n+3) {
    margin-right: 0; }

@media only screen and (max-width: 480px) {
  /* 480 =================================================== */
  #letter-space {
    bottom: 0;
    width: 100%;
    height: 60%; }

  #flexcontainer {
    bottom: 0;
    width: 100%;
    height: 60%; }

  nav {
    top: 0;
    width: 100%;
    height: 40%; }
    nav ul {
      width: 90%;
      padding: 1em 0; }
    nav li {
      width: 50%;
      float: left;
      margin-right: 0; }
      nav li a {
        font-size: 1em;
        line-height: 3em;
        color: #f4f4f4; } }
@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
  #letter-space {
    bottom: 0;
    width: 100%;
    height: 60%; }

  #flexcontainer {
    bottom: 0;
    width: 100%;
    height: 60%; }

  nav {
    top: 0;
    width: 100%;
    height: 40%; }
    nav ul {
      width: 90%;
      padding: 1em 0; } }
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
  #letter-space {
    bottom: 0;
    width: 100%;
    height: 60%; }

  #flexcontainer {
    bottom: 0;
    width: 100%;
    height: 60%; }

  nav {
    top: 0;
    width: 100%;
    height: 40%; }
    nav ul {
      width: 90%;
      padding: 2em 0; } }
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
  #letter-space {
    width: 65%;
    height: 100%;
    left: 0; }

  #flexcontainer {
    width: 65%;
    height: 100%;
    left: 0; }

  nav {
    right: 0;
    width: 35%;
    height: 100%; }
    nav h1 {
      font-size: 1.5em; }
    nav ul {
      width: 225px;
      font-size: 0.667em; }
    nav li {
      width: 50%;
      float: left;
      margin-right: 0; }
      nav li a {
        line-height: 3em;
        color: #f4f4f4; }
    nav li:nth-child(3n+3) {
      margin-right: 0; } }
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
  nav h1 {
    font-size: 2.25em; }
  nav ul {
    width: 285px;
    font-size: 0.667em; }
  nav li {
    width: 30%;
    float: left;
    margin-right: 5%; }
    nav li a {
      line-height: 3em;
      color: #f4f4f4; }
  nav li:nth-child(3n+3) {
    margin-right: 0; } }
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  nav ul {
    width: 80%;
    font-size: 0.889em; } }
