html, 
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
}

* {
  margin: 0;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: dashed 2px $red;
}

hr {
	width: 90%;
	margin: 0 auto;
	border-color: $white;
}

.display-inline-block {
  display: inline-block;
}

.background--white {
  background: $white;
}