@import "_variables";

#letter-space {
  width: 65%;
  height: 100%;
  float: left;
  background: url(../img/back.svg) repeat-x center;
  background-size: contain;
  background-color: $white;
}

.letter-list {
  width: 100%;
  height: 100%;
}

.letters {
  display: none;
  width: 100%;
  height: 100%;
  background-size: contain;
}

$imagePath: "url(../img/letters/letter-";
$end: ".svg)";
@for $i from 1 through 47 {
  #letter#{$i} { background: #{$imagePath}#{$i}#{$end} no-repeat center center; }
}
