@import "_variables";

nav {
	right: 0;
  width: 35%;
  height: 100%;
  background: $black;
  float: right;
  overflow-y: scroll;
  ul {
		padding: 2em 0;
		max-width: 500px;
		margin: 0 auto;
		overflow: auto;
		li {
			width: 30%;
			float: left;
			margin-right: 5%;
			a{
				line-height: 3em;
				color: $white;
				text-decoration: none;
				transition-property: all;
				transition-duration: 0.1s;
				transition-timing-function: ease-in;
				&:hover {
					border-bottom: 1px $blue solid;
				}
			}
			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}
	}
	#subnavigation {
		height: 50px;
		width: 100%;
		ul {
			padding: 0;
			li {
				text-align: center;
				width: 100%;
				font-family: 'Libre Baskerville', serif;
				font-size: 2em;
				a {
					border-bottom: 1px $blue solid;
				}
			}
		}
	}
}
