body, 
html {
	font-family: $open-sans;
	font-size: 16px;
	line-height: 1.5;
	line-height: initial;
	color: $black;
}

b,
strong {
  font-weight: bold;
}

em,
address,
cite,
dfn,
i,
var {
  font-style: italic;
}

code,
pre,
samp,
kbd {
  font-family: Courier, monospace;
  line-height: normal;
}

h1 {
	color: $white;
  font-family: $libre-baskerville;
	font-size: 2.25rem;
  text-align: center;
  margin: 2rem 1rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.333rem;
}

p {
	font-size: 0.899rem;
}

a,
a:hover,
a:focus {
  color: $red;
}

.font-family-libre-baskerville {
	font-family: 'Libre Baskerville', serif;
}