// Colors.
$white: #F4F4F4;
$gray: #A4A4A4;
$black: #282828;
$blue: #00CCFF;
$orange: #FF6950;
$red: #f22f2f;

// Fonts.
$libre-baskerville: 'Libre Baskerville', serif;
$open-sans: 'Open Sans', sans-serif;