#intro {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #282828;
    display: block;
}

#logo {
	position: fixed;
	width: 100%;
	height: 40%;
	top: 32%;
	background: url(../img/logo.svg) no-repeat center center;
	background-size: 50% 80%;
	display: block;
}