@import "_variables";

#letter-space {
    width: 70%;
    height: 100%;
    float: left;
    background: url(../img/back.svg) repeat-x center; 
    background-size: contain;
    background-color: $white;  
    .letters {
		display: none;
		width: 100%;
		height: 100%;
		background-size: contain;
	}
}

$imagePath: "url(../img/letters/letter-";
$end: ".svg)";
@for $i from 1 through 46 {
  #letter#{$i} { background: #{$imagePath}#{$i}#{$end} no-repeat center center; }
}


#letter1 {
	background: url(../img/letters/letter-1.svg) no-repeat center center;
}

#letter2 {
	background: url(../img/letters/letter-2.svg) no-repeat center center;
}

#letter3 {
	background: url(../img/letters/letter-3.svg) no-repeat center center;
}

#letter4 {
	background: url(../img/letters/letter-4.svg) no-repeat center center;
}

#letter5 {
	background: url(../img/letters/letter-5.svg) no-repeat center center;
}

#letter6 {
	background: url(../img/letters/letter-6.svg) no-repeat center center;
}

#letter7 {
	background: url(../img/letters/letter-7.svg) no-repeat center center;
}

#letter8 {
	background: url(../img/letters/letter-8.svg) no-repeat center center;
}

#letter9 {
	background: url(../img/letters/letter-9.svg) no-repeat center center;
}

#letter10 {
	background: url(../img/letters/letter-10.svg) no-repeat center center;
}

#letter11 {
	background: url(../img/letters/letter-11.svg) no-repeat center center;
}

#letter12 {
	background: url(../img/letters/letter-12.svg) no-repeat center center;
}

#letter13 {
	background: url(../img/letters/letter-13.svg) no-repeat center center;
}

#letter14 {
	background: url(../img/letters/letter-14.svg) no-repeat center center;
}

#letter15 {
	background: url(../img/letters/letter-15.svg) no-repeat center center;
}

#letter16 {
	background: url(../img/letters/letter-16.svg) no-repeat center center;
}

#letter17 {
	background: url(../img/letters/letter-17.svg) no-repeat center center;
}

#letter18 {
	background: url(../img/letters/letter-18.svg) no-repeat center center;
}
/*
Arm
Ascender
Ascender Line
Ascent Line
Axis
Base Line
Beak
Bilateral Serif
Bowl
Bracket
Cap Height
Counter(open)
Counter(closed)
Cross Stroke
Crotch
Descender
Decent Line
Diacritic
Ear
Eye
Finial
Foot
Hairline
Head Serif
Joint
Leg
Ligature
Link/Neck
Loop
Overhang
Serif
Shoulder
Spine
Spur
Stem
Stress
Tail
Tittle
Terminal
Vertex
*/