/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------ typography ------*/
/* line 4, ../sass/components/_typography.scss */
body, html {
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  line-height: initial;
  color: #080808;
}

/* line 11, ../sass/components/_typography.scss */
body {
  background-color: #fbfbfb;
  color: #030303;
}

/* line 16, ../sass/components/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 21, ../sass/components/_typography.scss */
em,
address,
cite,
dfn,
i,
var {
  font-style: italic;
}

/* line 30, ../sass/components/_typography.scss */
code,
pre,
samp,
kbd {
  font-family: Courier, monospace;
  line-height: normal;
}

/* line 38, ../sass/components/_typography.scss */
h1 {
  font-size: 3.375em;
}

/* line 42, ../sass/components/_typography.scss */
h2 {
  font-size: 3em;
}

/* line 46, ../sass/components/_typography.scss */
h3 {
  font-size: 2.25em;
}

/* line 50, ../sass/components/_typography.scss */
h4 {
  font-size: 2em;
}

/* line 54, ../sass/components/_typography.scss */
h5 {
  font-size: 1.5em;
}

/* line 58, ../sass/components/_typography.scss */
h6 {
  font-size: 1.333em;
}

/* line 62, ../sass/components/_typography.scss */
.h1 {
  font-size: 3.375em;
}

/* line 66, ../sass/components/_typography.scss */
.h2 {
  font-size: 3em;
}

/* line 70, ../sass/components/_typography.scss */
.h3 {
  font-size: 2.25em;
}

/* line 74, ../sass/components/_typography.scss */
.h4 {
  font-size: 2em;
}

/* line 78, ../sass/components/_typography.scss */
.h5 {
  font-size: 1.5em;
}

/* line 82, ../sass/components/_typography.scss */
.h6 {
  font-size: 1.333em;
}

/*------ extra type sizes - part of modular type scale------*/
/* line 87, ../sass/components/_typography.scss */
.huge {
  font-size: 4.5em;
}

/* line 91, ../sass/components/_typography.scss */
.default-font {
  font-size: 1em;
}

/* line 95, ../sass/components/_typography.scss */
.larger {
  font-size: 0.899em;
}

/* line 99, ../sass/components/_typography.scss */
.large {
  font-size: 0.667em;
}

/* line 103, ../sass/components/_typography.scss */
.small {
  font-size: 0.593em;
}

/* line 107, ../sass/components/_typography.scss */
.smallest {
  font-size: 0.444em;
}

/* line 1, ../sass/components/_general.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* line 9, ../sass/components/_general.scss */
h1 {
  color: #F4F4F4;
  font-family: 'Libre Baskerville', serif;
  font-size: 2.25em;
  text-align: center;
  padding: .5em;
  margin: .5em 0;
}

/* line 18, ../sass/components/_general.scss */
h2 {
  display: none;
}

/* line 22, ../sass/components/_general.scss */
hr {
  width: 90%;
  margin: 0 auto;
  border-color: #F4F4F4;
}

/* line 28, ../sass/components/_general.scss */
a {
  cursor: pointer;
}

/* line 1, ../sass/components/_intro.scss */
#intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #282828;
  display: block;
}

/* line 9, ../sass/components/_intro.scss */
#logo {
  position: fixed;
  width: 90%;
  height: 40%;
  top: 30%;
  left: 5%;
  background: url(../img/logo.svg) no-repeat center center;
  background-size: 50% 100%;
  background-size: contain;
  display: block;
}

/* line 21, ../sass/components/_intro.scss */
#continue-here {
  position: absolute;
  right: 1.5em;
  bottom: 1em;
  color: #F4F4F4;
}

/* line 3, ../sass/components/_letter-space.scss */
#letter-space {
  width: 65%;
  height: 100%;
  float: left;
  background: url(../img/back.svg) repeat-x center;
  background-size: contain;
  background-color: #F4F4F4;
}

/* line 12, ../sass/components/_letter-space.scss */
.letters {
  display: none;
  width: 100%;
  height: 100%;
  background-size: contain;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter1 {
  background: url(../img/letters/letter-1.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter2 {
  background: url(../img/letters/letter-2.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter3 {
  background: url(../img/letters/letter-3.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter4 {
  background: url(../img/letters/letter-4.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter5 {
  background: url(../img/letters/letter-5.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter6 {
  background: url(../img/letters/letter-6.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter7 {
  background: url(../img/letters/letter-7.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter8 {
  background: url(../img/letters/letter-8.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter9 {
  background: url(../img/letters/letter-9.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter10 {
  background: url(../img/letters/letter-10.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter11 {
  background: url(../img/letters/letter-11.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter12 {
  background: url(../img/letters/letter-12.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter13 {
  background: url(../img/letters/letter-13.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter14 {
  background: url(../img/letters/letter-14.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter15 {
  background: url(../img/letters/letter-15.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter16 {
  background: url(../img/letters/letter-16.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter17 {
  background: url(../img/letters/letter-17.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter18 {
  background: url(../img/letters/letter-18.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter19 {
  background: url(../img/letters/letter-19.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter20 {
  background: url(../img/letters/letter-20.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter21 {
  background: url(../img/letters/letter-21.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter22 {
  background: url(../img/letters/letter-22.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter23 {
  background: url(../img/letters/letter-23.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter24 {
  background: url(../img/letters/letter-24.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter25 {
  background: url(../img/letters/letter-25.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter26 {
  background: url(../img/letters/letter-26.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter27 {
  background: url(../img/letters/letter-27.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter28 {
  background: url(../img/letters/letter-28.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter29 {
  background: url(../img/letters/letter-29.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter30 {
  background: url(../img/letters/letter-30.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter31 {
  background: url(../img/letters/letter-31.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter32 {
  background: url(../img/letters/letter-32.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter33 {
  background: url(../img/letters/letter-33.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter34 {
  background: url(../img/letters/letter-34.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter35 {
  background: url(../img/letters/letter-35.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter36 {
  background: url(../img/letters/letter-36.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter37 {
  background: url(../img/letters/letter-37.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter38 {
  background: url(../img/letters/letter-38.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter39 {
  background: url(../img/letters/letter-39.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter40 {
  background: url(../img/letters/letter-40.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter41 {
  background: url(../img/letters/letter-41.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter42 {
  background: url(../img/letters/letter-42.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter43 {
  background: url(../img/letters/letter-43.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter44 {
  background: url(../img/letters/letter-44.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter45 {
  background: url(../img/letters/letter-45.svg) no-repeat center center;
}

/* line 22, ../sass/components/_letter-space.scss */
#letter46 {
  background: url(../img/letters/letter-46.svg) no-repeat center center;
}

/* line 3, ../sass/components/_nav.scss */
nav {
  right: 0;
  width: 35%;
  height: 100%;
  background: #282828;
  float: right;
  overflow-y: scroll;
}
/* line 10, ../sass/components/_nav.scss */
nav ul {
  padding: 2em 0;
  max-width: 500px;
  margin: 0 auto;
  overflow: auto;
}
/* line 15, ../sass/components/_nav.scss */
nav ul li {
  width: 30%;
  float: left;
  margin-right: 5%;
}
/* line 19, ../sass/components/_nav.scss */
nav ul li a {
  line-height: 3em;
  color: #F4F4F4;
  text-decoration: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 26, ../sass/components/_nav.scss */
nav ul li a:hover {
  border-bottom: 1px #00CCFF solid;
}
/* line 30, ../sass/components/_nav.scss */
nav ul li:nth-child(3n+3) {
  margin-right: 0;
}
/* line 35, ../sass/components/_nav.scss */
nav #subnavigation {
  height: 50px;
  width: 100%;
}
/* line 38, ../sass/components/_nav.scss */
nav #subnavigation ul {
  padding: 0;
}
/* line 40, ../sass/components/_nav.scss */
nav #subnavigation ul li {
  text-align: center;
  width: 100%;
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
}
/* line 45, ../sass/components/_nav.scss */
nav #subnavigation ul li a {
  border-bottom: 1px #00CCFF solid;
}

@media only screen and (max-width: 480px) {
  /* line 4, ../sass/components/_media-queries.scss */
  #letter-space {
    bottom: 0;
    width: 100%;
    height: 60%;
  }

  /* line 9, ../sass/components/_media-queries.scss */
  nav {
    top: 0;
    width: 100%;
    height: 40%;
  }
  /* line 13, ../sass/components/_media-queries.scss */
  nav ul {
    width: 90%;
    padding: 1em 0;
  }
  /* line 16, ../sass/components/_media-queries.scss */
  nav ul li {
    width: 50%;
    float: left;
    margin-right: 0;
  }
  /* line 20, ../sass/components/_media-queries.scss */
  nav ul li a {
    font-size: 1em;
    line-height: 3em;
    color: #F4F4F4;
  }
}
@media only screen and (min-width: 480px) {
  /* line 31, ../sass/components/_media-queries.scss */
  #letter-space {
    bottom: 0;
    width: 100%;
    height: 60%;
  }

  /* line 36, ../sass/components/_media-queries.scss */
  nav {
    top: 0;
    width: 100%;
    height: 40%;
  }
  /* line 40, ../sass/components/_media-queries.scss */
  nav ul {
    width: 90%;
    padding: 1em 0;
  }
}
@media only screen and (min-width: 600px) {
  /* line 48, ../sass/components/_media-queries.scss */
  #letter-space {
    bottom: 0;
    width: 100%;
    height: 60%;
  }

  /* line 53, ../sass/components/_media-queries.scss */
  nav {
    top: 0;
    width: 100%;
    height: 40%;
  }
  /* line 57, ../sass/components/_media-queries.scss */
  nav ul {
    width: 90%;
    padding: 2em 0;
  }
}
@media only screen and (min-width: 768px) {
  /* line 65, ../sass/components/_media-queries.scss */
  h1 {
    font-size: 1.5em;
  }

  /* line 68, ../sass/components/_media-queries.scss */
  #letter-space {
    width: 65%;
    height: 100%;
    left: 0;
  }

  /* line 73, ../sass/components/_media-queries.scss */
  nav {
    right: 0;
    width: 35%;
    height: 100%;
  }
  /* line 77, ../sass/components/_media-queries.scss */
  nav ul {
    width: 225px;
    font-size: 0.667em;
  }
  /* line 80, ../sass/components/_media-queries.scss */
  nav ul li {
    width: 50%;
    float: left;
    margin-right: 0;
  }
  /* line 84, ../sass/components/_media-queries.scss */
  nav ul li a {
    line-height: 3em;
    color: #F4F4F4;
  }
  /* line 88, ../sass/components/_media-queries.scss */
  nav ul li:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  /* line 97, ../sass/components/_media-queries.scss */
  h1 {
    font-size: 2.25em;
  }

  /* line 101, ../sass/components/_media-queries.scss */
  nav ul {
    width: 300px;
    font-size: 0.667em;
  }
  /* line 104, ../sass/components/_media-queries.scss */
  nav ul li {
    width: 30%;
    float: left;
    margin-right: 5%;
  }
  /* line 108, ../sass/components/_media-queries.scss */
  nav ul li a {
    line-height: 3em;
    color: #F4F4F4;
  }
  /* line 112, ../sass/components/_media-queries.scss */
  nav ul li:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1382px) {
  /* line 121, ../sass/components/_media-queries.scss */
  nav ul {
    width: 80%;
    font-size: 0.889em;
  }
}
