@import "_variables";

#letter-space {
  width: 65%;
  height: 100%;
  float: left;
  position: fixed;
  .letters {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.question {
  width: 100%;
  height: 100%;
  background: url(../img/back.svg) repeat-x center;
  background-size: contain;
  background-color: $white;
}

.nextQuestion.checkAnswer {
  position: absolute;
  right: 0;
  bottom: 1%;
  padding: 1% 2%;
  font-size: 2rem;
  text-decoration: none;
  color: $black;
  background: $white;
}

#flexcontainer {
  width: 65%;
  height: 100%;
  float: left;
  background: url(../img/back.svg) repeat-x center;
  background-size: contain;
  background-color: $white;
  position: fixed;
  .letters {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
