@import "_variables";
@import "compass/";

nav {
	right: 0;
    width: 35%;
    height: 100%;
    background: $black;
    float: right;
    position: fixed;
	overflow-y: scroll;
	#flexcontainer2 {
    	width: 80%;
    	margin: 0 auto;
    	color: $white;
    }
	h1 {
		color: $white;
		font-family: 'Libre Baskerville', serif;
		font-size: 2.25em;
		text-align: center;
		padding: .5em;
		margin: .5em 0;
	}
	ul {
		padding: 2em 0;
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	#next-button {
		right: 5%;
		color: $white;
		border-bottom: 1px $blue solid;
		cursor: pointer;
	}
	input[type=radio] {
		display: none;
	}
	input[type=radio] + label {
		display: inline-block;
		font-size: 1rem;
		line-height: 1rem;
		margin: 1rem 0;
		cursor: pointer;
		color: $white;
		@include transition-property(all);
		@include transition-duration(.2s);
		@include transition-timing-function(ease-in);
	}
	input[type=radio]:checked + label {
		display: inline-block;
		color: $white;
		border-bottom: 1px $blue solid;
	}
	input[type=radio] + label:hover {
		color: darken($white, 10%);
	}
	button{
		border: none;
		background: none;
		border-bottom: 1px #00ccff solid;
		color: white;
		font-size: 1rem;
	}
}
