$main-font:    Helvetica, sans-serif;
$primary-color: #080808;
/*------ typography ------*/
body, html {
	font-size: 100%;
	font-family: $main-font;
	line-height: initial;
	color: $primary-color;
}

body {
	background-color: #fbfbfb;
	color: #030303;
}

b,
strong {
  font-weight: bold;
}

em,
address,
cite,
dfn,
i,
var {
  font-style: italic;
}

code,
pre,
samp,
kbd {
  font-family: Courier, monospace;
  line-height: normal;
}

h1 {
	font-size: 3.375em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.25em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.333em;
}

/*------ extra type sizes - part of modular type scale------*/
.huge {
	font-size: 4.5em;
}

.default-font {
	font-size: 1em;
}

.larger {
	font-size: 0.899em;
}

.large {
	font-size: 0.667em;
}

.small {
	font-size: 0.593em;
}

.smallest {
	font-size: 0.444em;
}
